<div class="account-summary-header">
    <div class="account-summary-header-content">
        <div class="account-title">
            <mat-card-title>Hi Mr. Hector Smith</mat-card-title>
        </div>
        <div class="account-details">
            <div class="account-number">
                <mat-card-subtitle>You have 6 new messages.</mat-card-subtitle>
            </div>
        </div>
    </div>
    <div class="user-profile-container">
        <img class="user-profile" width="40px" height="40px" src="../../../assets/img/user-image.png">
    </div>
</div>

<mat-card class="accounts-card">
    <mat-card-content class="accounts-card-content">
      
        <ul class="account-item">
          <li *ngFor="let account of accounts" class="account-list-item">
            <mat-card routerLink="/accounts/{{ account.id }}" class="account-container" [ngClass]="{'disabled-content disabled-link':account.accountStatus === 'INACTIVE'}">
              <mat-card-header>
                <mat-card-title>{{ account.title }}</mat-card-title>
                <mat-card-subtitle [ngClass]="{'font-class':account.accountStatus === 'INACTIVE'}">{{ account.accountNumber | mask}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
              <div>
                <div>{{ account.currentBalance }}</div>
                <div>{{ account.accountStatus }}</div>
              </div>
              </mat-card-content>
            </mat-card>
          </li>
        </ul>

    </mat-card-content>
</mat-card>
