/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
  --mdc-fab-container-color: #5a5a99;
  --mdc-fab-icon-color: #fff;
  --mat-mdc-fab-color: #fff;
}

.mat-calendar-body-selected {
  background-color: #5e539e;
}

.mat-datepicker-toggle-active {
  color: #5e539e;
}
