<div class="account-summary">
  <div class="account-summary-header">
    <div class="account-summary-header-left">
      <div class="account-title">Savings Account</div>
      <div class="account-details">
        <div class="account-number">099-34XXX-765</div>
        <div class="account-status">ACTIVE</div>
      </div>
    </div>
    <div class="account-summary-header-right">
      <div class="account-balance">
        123456.73<span class="currency">LKR</span>
      </div>
      <button class="transfer-and-pay"></button>
    </div>
  </div>
  <div class="account-summary-container">
    <div class="transaction-history">
      <div class="transaction-history-header">Title | Search</div>
      <div class="transaction-history-container">
        <div>Transaction history table</div>
      </div>
    </div>
  </div>
  <div class="account-summary-footer"></div>
</div>
